<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
<title>Tokimon: Home</title>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <img src="/full-tokimon.png" class="img-fluid">
    <hr>
    <h2 class="index-cap">Welcome to the world of Tokimons!</h2>
  </div>
</div>

<div class="container">

  <div align="center" class="row">
    <% rows.forEach(function(r) { %>
    <div class="col-lg-3 col-md-6">
        <div class="card card-spacing" style="width: 15rem;">
            <div class="card-bg" style="background: <%= r.color %>">
              <div class="total-font"><%= r.total %></div>
            </div>
            <div class="card-body">
                <h5 class="card-title"><a href="/toki/<%= r.id %>"><%= r.name%></a></h5>
                <p class="card-text"><%= r.sprite %></p>
            </div>
        </div>
    </div>
    <% }); %>
    
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h3><i class="fas fa-info"></i> What Are Tokimons?</h3>
      <ul>
        <li>The below are from <a href="https://www2.cs.sfu.ca/CourseCentral/276/bobbyc/a/asn2.pdf">this document</a></li>
        <li>Tokimons are rare creatures found in Korea</li>
        <li>They resemble rabbits and can only say their name</li>
        <li>Each Tokimon is unique in shape, size and their abilities</li>
        <li>A Tokimon's ability is measure by a level between 0 - 100
          <ul>
            <li>Fly</li>
            <li>Fight</li>
            <li>Fire</li>
            <li>Water</li>
            <li>Electric</li>
            <li>Ice</li>
          </ul>
        </li>
        <li>Tokimon trainers are needed to harness a Tokimon's abilities</li>
      </ul>
    </div>

    <div class="col-lg-6">
      <h3><i class="fas fa-info"></i> What is this app?</h3>
      <ul>
        <li>This web app is meant to track all Tokimons in existence</li>
        <li>You can create, read, update and delete Tokimons here</li>
        <li>Above are the top 5 Tokimons according to their total level</li>
        <li>When you do look at a Tokimon's profile, you'll see in their abilities in a nicely displayed chart</li>
      </ul>
    </div>
  </div>

</div>

<div class="footer"></div>
</body>
</html>
