<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2 class="title-toki">Adding Tokimon Successful!</h2>

<ul>
    <li>Name: <%= name %></li>
    <li>Fly: <%= fly %></li>
    <li>Fight:<%= fight %></li>
    <li>Fire: <%= fire %></li>
    <li>Water: <%= water %></li>
    <li>Electric: <%= electric %></li>
    <li>Ice: <%= ice %></li>
    <li>Total: <%= total %></li>
    <li>Trainer Name: <%= trainer_name %></li>
</ul>

</div>

<div class="footer"></div>
</body>
</html>
